* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

@font-face{
    font-family: Georgia, 'Times New Roman', Times, serif;
    src: url(../fonts/EduAUVICWANTPre-VariableFont_wght.ttf);
}

/* Estils generals del cos */
body {
    background-color: #f3f4f6;
    color: #333;
    font-size: 20px;
}

/* Estilos para el encabezado */
.main-header {
    background: linear-gradient(135deg, #555, #000);
    padding: 30px;
    position: relative;
}

/* Menú de navegación */
.main-nav {
    margin-top: 10px;
    text-align: center;
}

.menu-checkbox {
    display: none;
}

.menu-label {
    display: none;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
    background: none;
    border: none;
    text-align: left;
}

/* Estilo lista de navegación */
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    transition: max-height 0.3s ease;
}

/* Elementos del menú */
.nav-item {
    display: inline;
}

/* Estilo de los enlaces */
.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.nav-link:hover {
    background: gray;
    color: black;
}

/*Estilo de la imagen de login*/
#imglogin {
    width: 5%;
    align-items: right;
    filter: invert();
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

#imglogin:hover {
    background: gray;
    color: #000;
}


/* Parte del body de index.html*/
.content-section1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.content-section1 > img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.content {
    position: absolute;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 50%;
}

.content h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.content p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 30px;
}

.button {
    background-color: gray;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #666;
}

.button a{
    text-decoration: none;
    color: #000;
}


/* Parte de servicio*/
.servicio-section {
    text-align: center;
    padding: 20px;
}

.servicio-section h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Contenedor de cartas de coches */
.coche-cartas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Carta de coche */
.coche-carta{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.coche-carta:hover {
    transform: translateY(-5px);
}

/* Imagen del coche */
.coche-img {
    width: 100%;
    height: 50%;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Precio debajo de la imagen */
.coche-carta p {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

/* Detalles del coche */
.coche-carta p strong{
    font-weight: bold;
}

.coche-carta h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.coche-carta p {
    font-size: 1em;
    color: #555;
    margin-bottom: 5px;
}

/* Contenedor de botones */
.carta-botones {
    margin-top: 15px;
}

/* Botón de contacto */
.contacto-button {
    background-color: gray;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
}

.contacto-button:hover {
    background-color: #bbb;
}


/* Parte de mantenimiento */
.mantenimiento-section {
    padding: 50px;
    text-align: center;
    background-color: #f3f4f6;
}

.mantenimiento-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #222;
}

.mantenimiento-section p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 40px;
}

.mantenimiento-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.mantenimiento-card {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.mantenimiento-card-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.mantenimiento-card img {
    width: 15%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.mantenimiento-card h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.mantenimiento-card p {
    font-size: 1em;
    color: #666;
}



/* Parte del SobreNosotros */
.sobrenosotros {
    text-align: left;
    padding: 50px 20px;
    color: #333;
    background-color: #f7f7f7;
}

.sobrenosotros h1 {
    font-size: 2.5em;
    color: #222;
    text-align: center;
    margin-bottom: 20px;
}

.sobrenosotros-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.sobrenosotros-content h2 {
    text-align: center;
}

.sobrenosotros-text {
    max-width: 600px;
    font-size: 1.1em;
    line-height: 1.6;
}

.sobrenosotros-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Parte del formulario */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f2f2f2;
}

/* Estilo del formulario */
.form {
    max-width: 600px;
    width: 100%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
}

.form:hover {
    transform: translateY(-5px);
}

/* Título del formulario */
.form-titulo {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Descripción del formulario */
.description {
    text-align: center;
    color: #555;
    margin-bottom: 30px;
    font-size: 1rem;
}

/* Estilo de los campos del formulario */
.form-group {
    margin-bottom: 20px;
}

.label {
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.form-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: all 0.3s ease-in-out;
}

.form-input:focus {
    border-color: #005f6b;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 95, 107, 0.5);
    outline: none;
}

.form-input::placeholder {
    color: #bbb;
}

/* Estilo del botón de envío */
.form-button {
    width: 100%;
    padding: 15px;
    background-color: #005f6b;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease-in-out;
}

.form-button:hover {
    background-color: #007c8c;
}

.form-button:active {
    transform: scale(0.98);
}


/* Parte del login.html */
.form2{
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
}

.form-login{
    width: 26.25;
    border-radius: 10px solid;
    border: 20px;
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88.8vh;
    background-color: gray;
}

.form-login h1{
    font-size: 36px;
    color: white;
    text-align: center;
}

.form-login .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
}

.input-box svg{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.form-login .btn{
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #555;
    font-weight: 600;
}

.form-login .olvidar-contrasenya{
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
}
.olvidar-contrasenya a{
    color: white;
    text-decoration: none;
}
.olvidar-contrasenya a:hover{
    text-decoration: underline;
}

.form-login .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}


/* Parte del footer */
.nav-footer{
    background: linear-gradient(135deg, #555, #000);
    display: flex;
    padding: 10%;

}

.numTel{
    font-size: medium;
    text-decoration: none;
    color: #f3f4f6;
}

.nav-footer-ubihora{
    display: flex;
    align-items: center;
}

.imgInvert{
    filter: invert();
    width: 10%;
}

.footer-p{
    margin-top: auto;
    color: white;
}

.footer-nosotros,
.footer-mantenimiento{
    margin-top: 150px;
    text-align: center;
}

.footer-contacto{
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 770px) {
    .menu-label {
        display: block;
    }

    .nav-list {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        background-color: #333;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        gap: 10px;
    }

    /* Cuando el checkbox está activado */
    .menu-checkbox:checked + .menu-label + .nav-list {
        max-height: 320px; /* Altura suficiente para mostrar los elementos */
    }

    .nav-item {
        margin: 10px 0;
    }
    .nav-link{
        font-size: 3vw;
    }

    .footer-mantenimiento,
    .footer-nosotros {
        margin-top: 20px;
        padding: 10px 20px;
    }

    .content {
        max-width: 80%;
        padding: 15px 20px;
    }

    .content h1 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .content p {
        font-size: 1em;
        margin-bottom: 20px;
    }

    .button {
        font-size: 1em;
        padding: 12px 25px;
    }

    .content {
        max-width: 90%;
    }

    .form-login{
        min-height: 87.9vh;
    }

}

@media (max-width: 480px){
    .form-login{
        min-height: 85.4vh;
    }

    .nav-link{
        font-size: 5vw;
        gap: 5px;
    }
}